header {
    background-image: url("../img/mars_cover3.png");
    width: auto;
    height: 500px;
    background-size: cover;
    position: relative;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

li {
    display: inline-block;
    height: 50px;
}

a {
    text-decoration: none;
    color: #c1c1c3;
    padding: 20px;
}

nav {
    position: absolute;
    bottom: 0;
    padding-left: 0;
}

.sectionTitle {
    width: 30%;
    display: inline-block;
    text-align: right;
    vertical-align: 80px;
    color: #5a5a5a;
}

.sectionText {
    width: 600px;
    display: inline-block;
    padding: 50px;
    font-size: 14px;
    color: #878787;
    text-align: justify;

}

.sectionText2 {
    width: 600px;
    display: inherit;
    padding: 50px;
    font-size: 14px;
    color: #878787;
    text-align: justify;

}

#logo {
    width: 30%;
    height: 300px;
    display: inline-block;
    background: url("../img/logo.png") no-repeat center;
    background-size: 350px;
    margin: 0 8%;

}

#logo2 {
    width: 30%;
    height: 300px;
    display: inline-block;
    background: url("../img/spacexlogo.png") no-repeat right;
    background-size: 700px;

    margin: 0 8%;

}

#falcon {
    width: 30%;
    height: 500px;
    display: inline-block;
    background: url("../img/falconRocket.png") no-repeat center;
    background-size: 30px;
    margin: 0 8%;

}

#falconHeavy {
    display: inline-block;
    height: 500px;
    width: 29%;
    margin: 0 8%;
    background: url("../img/falconHeavy.png") no-repeat center;
    background-size: 90px;

}

#tesla1 {
    width: 30%;
    height: 300px;
    display: inline-block;
    background: url("../img/TeslaS.png") no-repeat center;
    background-size: 450px;
    margin: 0 8%;

}

#tesla2 {
    width: 30%;
    height: 300px;
    display: inline-block;
    background: url("../img/teslax.png") no-repeat center;
    background-size: 450px 340px;
    margin: 0 8%;

}

#boring1 {
    width: 30%;
    height: 300px;
    display: inline-block;
    background: url("../img/theboringcompany.png") no-repeat center;
    background-size: 450px;
    margin: 0 8%;

}

#boring2 {
    width: 30%;
    height: 300px;
    display: inline-block;
    background: url("../img/theboringhat.jpg") no-repeat center;
    background-size: 300px;
    margin: 0 8%;

}

#elon {
    width: 30%;
    height: 300px;
    display: inline-block;
    background: url("../img/elon5.png") no-repeat center;
    background-size: 300px;
    margin: 0 8%;
}

#spacex {
    width: 30%;
    height: 350px;
    display: inline-block;
    background: url("../img/spacex.png") no-repeat center;
    background-size: 300px;
    margin: 0 5%;
}

#alex {
    width: 20%;
    height: 300px;
    display: inline-block;
    position: absolute;
    left: 33%;
    background: url("../img/alex.png") no-repeat center;
    background-size: 350px;
    margin: 0 5%;
}

#alex1 {
    width: 10%;
    height: 200px;
    display: inline-block;

    background: url("../img/alex.png") no-repeat center;
    background-size: 250px;
    margin: 0 5%;
}

#matej {
    width: 10%;
    height: 200px;
    display: inline-block;

    background: url("../img/matrez.png") no-repeat center;
    background-size: 250px;
    margin: 0 5%;
}

#sebo {
    width: 10%;
    height: 200px;
    display: inline-block;

    background: url("../img/sebo.png") no-repeat center;
    background-size: 250px;
    margin: 0 5%;
}

#peto {
    width: 10%;
    height: 200px;
    display: inline-block;

    background: url("../img/warn.png") no-repeat center;
    background-size: 150px;
    margin: 0 5%;
}

/*CLASSES FOR ADAPTIVE DESIGN*/
@media (max-width: 1025px) {

    header {
        height: 45vw;
        width: auto;
        background-size: cover;
    }

    nav {
        font-size: 1.8vw;
    }

    a {
        padding: 2vw;
    }

    li {
        height: 5vw;
    }

    .sectionTitle {
        font-size: 1vw;
        vertical-align: 8vw;
    }

    .sectionText {
        font-size: 1.3vw;
        width: 50%;
    }

    .sectionText2 {
        font-size: 1.3vw;
        width: 50%;
    }

    #falcon {
        background-size: 3vw;
        height: 50vw;
    }

    #falconHeavy {
        background-size: 8.5vw;
        height: 50vw;
    }

    #elon {
        background-size: 30vw;
        height: 50vw;
    }

    #spacex {
        background-size: 30vw;
        height: 50vw;
    }

    #alex {
        background-size: 30vw;
        height: 50vw;
    }

    #alex1 {
        background-size: 30vw;
        height: 50vw;
    }

    #matej {
        background-size: 30vw;
        height: 50vw;
    }

    #sebo {
        background-size: 30vw;
        height: 50vw;
    }

    #peto {
        background-size: 30vw;
        height: 50vw;
    }
}

/*CLASSES FOR NAV BAR*/
.active {
    display: inline-block;
    vertical-align: middle;
    border-bottom: 4px solid white;
    margin-bottom: 3px;
}

.active a {
    color: white;
}

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: white;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

.hvr-outline-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
}

.hvr-outline-in:before {
    pointer-events: none;
    content: '';
    position: absolute;
    border: #808080 solid 4px;
    top: -16px;
    right: -16px;
    bottom: -16px;
    left: -16px;
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
}

.hvr-outline-in:hover:before, .hvr-outline-in:focus:before, .hvr-outline-in:active:before {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    opacity: 1;
}
