header {
    background-image: url("../img/mars_cover3.png");
    width: auto;
    height: 500px;
    background-size: cover;
    position: relative;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.sectionTitle {
    width: 22%;
    display: inline-block;
    text-align: right;
    vertical-align: top;
    padding-top: 45px;
    color: #5a5a5a;
}

.sectionText {
    width: 55%;
    display: inline-block;
    padding: 50px;
    font-size: 14px;
    color: #878787;
    text-align: justify;
}

footer {
    width: 100%;
    height: 20px;
    position: relative;
    bottom: 0;
    display: inline-block;
    font-size: 12px;
    color: #878787;
    text-align: center;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

#firstSection {
    margin-top: 65px;
}

#logo {
    width: 30%;
    height: 350px;
    display: inline-block;
    background: url("../img/logo.png") no-repeat center;
    background-size: 350px;
    margin: 0 8%;
}

#logo2 {
    width: 30%;
    height: 350px;
    display: inline-block;
    background: url("../img/planetEarth.png") no-repeat center;
    background-size: 285px;
    margin: 0 8%;
}

#falcon {
    width: 30%;
    height: 500px;
    display: inline-block;
    background: url("../img/falconRocket.png") no-repeat center;
    background-size: 30px;
    margin: 0 8%;
}

#falconHeavy {
    display: inline-block;
    height: 500px;
    width: 29%;
    margin: 0 8%;
    background: url("../img/falconHeavy.png") no-repeat center;
    background-size: 90px;
}

#tesla1 {
    width: 30%;
    height: 300px;
    display: inline-block;
    background: url("../img/TeslaS.png") no-repeat center;
    background-size: 300px;
    margin: 0 8%;
}

#tesla2 {
    width: 30%;
    height: 300px;
    display: inline-block;
    background: url("../img/teslax.png") no-repeat center;
    background-size: 300px;
    margin: 0 8%;
}

#hyper1 {
    width: 30%;
    height: 300px;
    display: inline-block;
    background: url("../img/hyperlogo.png") no-repeat center;
    background-size: 31vw;
    margin: 0 8%;
}

#hyper2 {
    width: 30%;
    height: 300px;
    display: inline-block;
    background: url("../img/transpod-pod-transparent.png") no-repeat center;
    background-size: 20vw;
    margin: 0 8%;}

#boring1 {
    width: 30%;
    height: 300px;
    display: inline-block;
    background: url("../img/theboringcompany.png") no-repeat center;
    background-size: 31vw;
    margin: 0 8%;
}

#boring2 {
    width: 30%;
    height: 300px;
    display: inline-block;
    background: url("../img/theboringhat.png") no-repeat center;
    background-size: 20vw;
    margin: 0 8%;
}

#elon {
    width: 30%;
    height: 350px;
    display: inline-block;
    background: url("../img/elon5.png") no-repeat center;
    background-size: 300px;
    margin: 0 8%;
}

#spacex {
    width: 30%;
    height: 350px;
    display: inline-block;
    background: url("../img/spacex.png") no-repeat center;
    background-size: 300px;
    margin: 0 8%;
}

#alex1 {
    width: 200px;
    height: 200px;
    display: inline-block;

    background: url("../img/alex.png") no-repeat center;
    background-size: 250px;
    margin: 0 4%;
}

#matej {
    width: 200px;
    height: 200px;
    display: inline-block;

    background: url("../img/matrez.png") no-repeat center;
    background-size: 250px;
    margin: 0 4%;
}

#sebo {
    width: 200px;
    height: 200px;
    display: inline-block;

    background: url("../img/sebo.png") no-repeat center;
    background-size: 250px;
    margin: 0 4%;
}

#peto {
    width: 200px;
    height: 200px;
    display: inline-block;

    background: url("../img/warn.png") no-repeat center;
    background-size: 150px;
    margin: 0 4%;
}

td,tr,table{
    text-align: center;
    vertical-align: middle;
    height: 25px;
}

td:hover{
    background-color: #ededc2;
}

.siteMapHeader {
    text-decoration: none;
    color: #878787;
}

.siteMapHeader:hover {
    text-decoration: underline;
}

.siteMapParagraph {
    text-decoration: none;
    font-size: 14px;
    color: #878787;
}

.siteMapParagraph:hover {
    text-decoration: underline;
}

/*CLASSES FOR ADAPTIVE DESIGN*/

@media (max-width: 1025px) {

    header {
        height: 45vw;
        width: auto;
        background-size: cover;
    }

    .sectionTitle {
        padding-top: 40px;
        font-size: 12px;
        vertical-align: top;
    }

    .sectionText {
        font-size: 15px;
        width: 50%;
        padding: 40px;
    }

    #falcon {
        background-size: 28px;
        height: 400px;
    }

    #falconHeavy {
        background-size: 80px;
        height: 400px;
    }

    #elon, #spacex {
        background-size: 200px;
        height: 230px;
    }

    #alex1, #matej, #sebo, #peto {
        background-size: 100%;
        height: 300px;
        width: 300px;
        margin: 3%;
    }

    #logo {
        height: 230px;
        background-size: 250px;
    }

    #logo2 {
        height: 230px;
        background-size: 200px;
    }

    #tesla1, #tesla2 {
        height: 240px;
        background-size: 230px;
    }

    #boring1 {
        height: 230px;
        background-size: 235px;
    }

    #boring2 {
        height: 230px;
        background-size: 190px;
    }
}

@media (max-width: 760px) {
    #alex1, #matej, #sebo, #peto {
        background-size: 235px;
        height: 250px;
        width: 250px;
        margin: 3%;
    }

    #falconHeavy {
        background-size: 70px;
        height: 350px;
        width: 30%;
    }

    #falcon {
        background-size: 25px;
        height: 350px;
        width: 30%;
    }

    #logo {
        height: 130px;
        background-size: 150px;
    }

    #logo2 {
        height: 130px;
        background-size: 120px;
    }

    #elon {
        height: 130px;
        background-size: 120px;
    }

    #spacex {
        height: 130px;
        background-size: 120px;
    }

    #tesla1, #tesla2 {
        height: 140px;
        background-size: 130px;
    }

    #boring1 {
        height: 140px;
        background-size: 30vw;
    }

    #boring2 {
        height: 140px;
        background-size: 15vw;
    }
}

@media (max-width: 425px) {

    .sectionTitle {
        display: block;
        width: 100%;
        text-align: center;
    }

    .sectionText {
        display: block;
        width: 100%;
        padding: 10px;
        text-align: center;
        box-sizing: border-box;
    }

    #falcon, #falconHeavy {
        width: 50%;
        display: block;
        margin: 20px auto;
    }

    #logo, #logo2, #elon, #spacex {
        height: 150px;
        width: 50%;
        display: block;
        margin: 20px auto;
    }

    #tesla1, #tesla2 {
        background-size: 150px;
        width: 50%;
        display: block;
        margin: 20px auto;
    }

    #boring1 {
        height: 200px;
        background-size: 220px;
        width: 50%;
        display: block;
        margin: 20px auto;
    }

    #boring2 {
        height: 200px;
        background-size: 150px;
        width: 50%;
        display: block;
        margin: 20px auto;
    }
}

/*CLASSES FOR NAV BAR*/
.active {
    display: inline-block;
    vertical-align: middle;
    border-bottom: 4px solid white;
    margin-bottom: 3px;
}

.active a {
    color: white;
}

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #000000;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

.hvr-outline-in-bubble {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
}

.hvr-outline-in-bubble:before {
    pointer-events: none;
    content: '';
    position: absolute;
    border: #808080 solid 4px;
    border-radius: 180px;
    top: -16px;
    right: -16px;
    bottom: -16px;
    left: -16px;
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
}

.hvr-outline-in-bubble:hover:before, .hvr-outline-in-bubble:focus:before, .hvr-outline-in-bubble:active:before {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    opacity: 1;
}

.hvr-outline-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
}

.hvr-outline-in:before {
    pointer-events: none;
    content: '';
    position: absolute;
    border: #808080 solid 4px;
    top: -16px;
    right: -16px;
    bottom: -16px;
    left: -16px;
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
}

.hvr-outline-in:hover:before, .hvr-outline-in:focus:before, .hvr-outline-in:active:before {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    opacity: 1;
}


