@import url(https://fonts.googleapis.com/css?family=Raleway:100,400,700);
#nadpis{
    font-size: 30px;
}
h1 {
    color: #000000;
    font-size: 2em;
    font-weight: 300;
}
p {
    margin: 0 auto;
    width: 390px;
}
@media only screen and (max-width: 280px) {
    body, p {
        width: 95%;
    }
}
#maker{
    background-color: rgba(255,255,255,.2);
    font-family: "Raleway", sans-serif;
    float: left;
    list-style-type: none;
    margin: 0 5px;
    width: 300px;
    height: 125px;
    border: 5px solid rgba(255,255,255,.2);
    border-radius: 15px;
    text-align: right;
}
#maker1{
    background-color: rgba(255,255,255,.2);
    font-family: "Trebuchet MS", sans-serif;
    float: left;
    list-style-type: none;
    margin: 0 5px;
    width: 300px;
    height: 125px;
    border: 5px solid rgba(255,255,255,.2);
    border-radius: 15px;
    text-align: right;
}
#maker2{
    background-color: rgba(255,255,255,.2);
    font-family: "Trebuchet MS", sans-serif;
    float: left;
    list-style-type: none;
    margin: 0 5px;
    width: 300px;
    height: 125px;
    border: 5px solid rgba(255,255,255,.2);
    border-radius: 15px;
    text-align: right;

}
#maker3{
    background-color: rgba(255,255,255,.2);
    font-family: "Trebuchet MS", sans-serif;
    float: left;
    list-style-type: none;
    margin: 0 5px;
    width: 300px;
    height: 125px;
    border: 5px solid rgba(255,255,255,.2);
    border-radius: 15px;
    text-align: right;
}
#text{
    background-color: rgba(255,255,255,.2);
    width: 90%;
    margin: 150px auto;
    height: 400px;
    border: 5px solid rgba(255,255,255,.2);
    border-radius: 15px;
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    font-size: larger;
}
.img-head{
    width: 30%;
    border-radius: 50%;
    float: left;

}
.bg{
    background-color: rgba(255,255,255,.1);
    padding-top: 30px;
    max-width: 1500px;
    min-height: 100vh;
    margin:20px auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);

}
#maker:hover {
    -webkit-transform:scale(1.05); /* Safari a Chrome */
    -moz-transform:scale(1.05);    /* Firefox */
    -ms-transform:scale(1.05);     /* IE */
    -o-transform:scale(1.05);      /* Opera */
    transform:scale(1.05);
}
#maker1:hover {
    -webkit-transform:scale(1.05); /* Safari a Chrome */
    -moz-transform:scale(1.05);    /* Firefox */
    -ms-transform:scale(1.05);     /* IE */
    -o-transform:scale(1.05);      /* Opera */
    transform:scale(1.05);
}
#maker2:hover {
    -webkit-transform:scale(1.05); /* Safari a Chrome */
    -moz-transform:scale(1.05);    /* Firefox */
    -ms-transform:scale(1.05);     /* IE */
    -o-transform:scale(1.05);      /* Opera */
    transform:scale(1.05);
}
#maker3:hover {
    -webkit-transform:scale(1.05); /* Safari a Chrome */
    -moz-transform:scale(1.05);    /* Firefox */
    -ms-transform:scale(1.05);     /* IE */
    -o-transform:scale(1.05);      /* Opera */
    transform:scale(1.05);
}
body{
    background-image: url(../img/bgmars.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.85);
    font-family: Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
    margin: 0;
}

/* Add a black background color to the top navigation */
.menu {
    background-color: rgba(255,255,255,.2);
    overflow: hidden;
    border: 2px solid rgba(255,255,255,.2);
    margin: 0;
}

/* Style the links inside the navigation bar */
.menu a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.menu a:hover {
    background-color: rgba(255,255,255,.2);
    color: #ffffff;
}

/* Add a color to the active/current link */
.menu a.active {
    background-color: rgba(255,255,255,.15);
    color: #ffffff;
}
